server {
    listen 80;
    server_name bc-wss.iditya.tech;

    # Redirect all HTTP requests to HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name bc-wss.iditya.tech;

    # SSL Certificates
    ssl_certificate /etc/letsencrypt/live/bc-wss.iditya.tech/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/bc-wss.iditya.tech/privkey.pem;

    # SSL Protocols and Config
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers HIGH:!aNULL:!MD5;

    # Proxy Settings
    location / {
        proxy_pass http://localhost:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}